* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#back-to-top {
    padding: 1rem;
}

#back-to-top a {
    font-weight: 600;
}

#footer-logo {
    padding: 4rem;
}

#footer-logo img {
    height: 60px;
}

#bg-image {
    background-image: url("./assets/bg-image.png");
    background-size: contain;
    background-position: center;
    width: 100%;
}

#bg-image h3 {
    margin-top: 10px;
}

#img-fw {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.bg-dark {
    background-color: #222f3e;
}

.bg-light-dark {
    background-color: #364759;
}

.bg-green {
    background-color: #469576;
}

.bg-orange {
    background-color: #f56600;
}

.color-white {
    color: #eaeded;
}

.bg-white {
    background-color: white;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.text-center {
    text-align: center;
}

.row {
    width: 100%;
    text-align: center;
}

header div {
    padding: 0.5rem 2rem;
}

header img {
    height: 40px;
}

header span {
    font-weight: 400;
    margin-right: 1rem;
}


main {
    background-color: #eaeded;
    padding: 2rem;
}

.title-container {
    text-align: left;
    padding: 1rem 1rem 0 1.5rem;
}

.title {
    font-size: 1.3rem;
}

.subtitle {
    font-weight: 600;
    color: #007185;
    margin-left: 1rem;
}

.img {
    width: 304px;
    height: 379px;
    object-fit: cover;
    margin: 1rem;
    border-radius: 20px;
    -webkit-box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
}

.cards-row {
    width: 100%;
    margin-top: 2rem;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
}

.card-squad {
    width: 24%;
    display: inline-block;
}

.card-header {
    font-size: 21px;
    font-weight: 600;
    padding: 1rem 2rem;
}

.quadrant-container {
    width: 45%;
    display: inline-block;
    position: relative;
}

.quadrant-container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.quadrant-container p {
    margin: 0;
    font-size: 12px;
}

.card-body {
    padding: 0 2rem;
}

.card-row {
    /* height: 50%; */
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-footer {
    font-size: 13px;
    padding: 0.5rem 2rem;
    color: #007185;
}

.quadrant-container img.bottom-right-corner {
    position: absolute;
    right: -10px;
    bottom: 0px;
    width: 40px;
    height: 40px;
}

.img-container {
    text-align: center;
    margin-top: 2rem;
}

footer {
    width: 100%;
    text-align: center;
}

#footer-logo {
    padding: 4rem;
}

#footer-logo img {
    height: 60px;
}

#back-to-top {
    padding: 1rem;
}

#back-to-top a {
    font-weight: 600;
}